@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');
@import url('./assets/preflight.css');

:root {
  --mainColor: rgba(47, 128, 237, 1);
  --bgColor: rgba(248, 249, 253, 1);
  --gray: #BDBDBD;
  --white: #FFFF;
}

body {
  font-family: 'Poppins', sans-serif;
  background-color: var(--bgColor);
}

.btn {
  background-color: var(--mainColor);
  border-radius: 8px;
  padding: 8px 20px;
  color: white;
}

input::placeholder {
  color: var(--gray);
}