@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');
@import url('./assets/preflight.css');

:root {
  --mainColor: rgba(47, 128, 237, 1);
  --bgColor: rgba(248, 249, 253, 1);
  --gray: #BDBDBD;
  --white: #FFFF;
  --error: red;
}

body {
  font-family: 'Poppins', sans-serif;
  background-color: var(--bgColor);
}

.btn {
  border-radius: 8px;
  padding: 8px 20px;
}

.btn-main{
  background-color: var(--mainColor);
  color: white;
}

.btn-gray{
  color: #828282;
  background: #F2F2F2;
}

input::placeholder {
  color: var(--gray);
}

.error {
  color: var(--error);
  font-weight: 600;
}