@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');
@import url('./assets/preflight.css');

:root {
  --mainColor: rgba(47, 128, 237, 1);
  --bgColor: rgba(248, 249, 253, 1);
  --gray: #BDBDBD;
  --white: #FFFF;
  --error: red;
  --lightBlue: #DAE4FD;
  --lightGray: #F2F2F2;
}

body {
  font-family: 'Poppins', sans-serif;
  background-color: var(--bgColor);
}

.btn-pad{
  border-radius: 8px;
  padding: 8px 12px;
}

.btn-main{
  background-color: var(--mainColor);
  color: white;
}

.btn-gray{
  color: #828282;
  background: #F2F2F2;
}

.btn-square{
  border-radius: 8px;
  display: block;
  height: 28px;
  width: 28px;
  display: grid;
  place-content: center;
}

.btn-selected {
  color: var(--mainColor);
  border: 1px solid var(--mainColor);
}

input::placeholder {
  color: var(--gray);
}

.error {
  color: var(--error);
  font-weight: 600;
}

::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-thumb {
  border-radius: 9999px;
  background-color: var(--gray);
}

::-webkit-scrollbar-track {
  background-color: transparent;
}